@import "_mixins.scss";
@import "_variables";
@import "_elements.scss";
@import "_modal.scss";
@import "_nav.scss";
@import "_card.scss";
@import "_page.scss";
@import "_util.scss";
@import "_global.scss";

.l-grid {
    &.is-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        & > * {
            flex: 1 0 calc(33.333%);
            padding: 10px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    .l-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        &.is-col-2 {
            & > * {
                flex: 0 0 calc(50% - 30px);
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &.is-col-3 {
            & > * {
                flex: 0 0 calc(33.333% - 30px);
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &.is-list {
            margin: 0 15px;
            justify-content: space-around;
            align-items: center;

            & > * {
                flex: 1 0 calc(100% / 8);
                padding: 10px;
                text-align: center;
            }
        }
    }
}

.page-enter-active, .page-leave-active {
    transition: .4s cubic-bezier(.95,.18,.71,.7) all;
}

.page-enter, .page-leave-active {
    opacity: 0;
}